{% extends 'base.html' %}

{% block title %}Workshop - Car details{% endblock %}
{% block actions %}  
<form action="{{ url_for('car_delete', id=car.id) }}" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="submit" value="Delete car" />
</form>
{% endblock %}
{% block heading %}Viewing details for car with license plate: {{ car.plate|upper }}{% endblock %}

{% block content %}
<ul>
  <li><span class="font-bold">License plate:</span> {{ car.plate|upper }}</li>
  <li><span class="font-bold">Maker:</span> {{ car.maker.name }}</li>
  <li><span class="font-bold">Model:</span> {{ car.model.name }}</li>
  <li><span class="font-bold">Owner:</span> <a class="underline" href="{{ url_for('client_show', id=car.owner.id) }}">{{ car.owner.full_name }}</a></li>
</ul>

<div class="my-5 py-5 border-t border-white/30 flex flex-col gap-y-4">
  <h2 class="text-4xl">Jobs performed on this car</h2>

  <ul>
    {% for job in car.jobs %}
    <li><a class="underline" href="{{ url_for('job_show', id=job.id) }}">{{ job.description }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
