{% extends 'base.html' %}

{% block title %}Workshop - Job details{% endblock %}
{% block heading %}Viewing details for job: {{ job.id }}{% endblock %}

{% block content %}
<div class="flex-1 flex gap-8">
  <div class="min-w-3xs flex flex-col gap-2 px-4 py-4 bg-gray-800 border-l border-r border-white/10">

    {% set car = job.car %}
    <h2 class="text-2xl font-bold mb-3">Car details:</h2>
    <div>
      <h3 class="font-bold">Maker:</h3>
      <span>{{ car.maker.name }}</span>
    </div>
    <div>
      <h3 class="font-bold">Model:</h3>
      <span>{{ car.model.name }}</span>
    </div>
    <div>
      <h3 class="font-bold">Plates numbers:</h3>
      <span>{{ car.plate }}</span>
    </div>

    {% set owner = car.owner %}
    <h2 class="text-2xl font-bold mb-3">Owner details:</h2>
    <div>
      <h3 class="font-bold">Full name:</h3>
      <span>{{ owner.full_name }}</span>
    </div>
    <div>
      <h3 class="font-bold">Email:</h3>
      <span>{{ owner.email }}</span>
    </div>
    <div>
      <h3 class="font-bold">Phone number:</h3>
      <span>{{ owner.phone }}</span>
    </div>
  </div>

  <div class="flex flex-col gap-8 grow">

    <div class="flex justify-end pt-4 gap-2">
      <a class="font-bold flex items-center gap-1 bg-indigo-500 px-4 py-2 rounded-md" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
        </svg>
        Edit job
      </a>

      <form action="{{ url_for('job_delete', id=job.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button class="flex gap-1 items-center text-white font-bold bg-red-700 px-4 py-2 rounded-md" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
          </svg>
          Delete
        </button>
      </form>
    </div>

    <div class="py-4 border-t border-white/10">
      <h2 class="text-2xl mb-4">Job description:</h2>
      <p>{{ job.description }}</p>
    </div>

    <div>
      {% if job.parts %}
      <h2 class="text-2xl font-bold mb-4">Parts used for the job:</h2>
      <div class="grid grid-cols-4 gap-1">
        <h2 class="border-b border-white/10 font-bold">Name</h2>
        <h2 class="border-b border-white/10 font-bold">Number</h2>
        <h2 class="border-b border-white/10 font-bold">Producer</h2>
        <h2 class="border-b border-white/10 font-bold">Price</h2>

      {% for part in job.parts %}
        <p>{{ part.name }}</p>
        <p>{{ part.number }}</p>
        <p>{{ part.producer.name }}</p>
        <p>PLN {{ prices[loop.index0]|round(2) }}
      {% endfor %}
      </div>
      {% else %}
      <h2 class="text-2xl font-bold">No parts used for this job</h2>
      {% endif %}
    </div>

    <div class="grid grid-cols-2 mb-10">
      {% set total_cost = job.work_price %}
      <h2 class="text-2xl font-bold">Work price:</h2>
      <p>PLN {{ job.work_price|round(2) }}</p>

      {% if job.parts %}
      <h2 class="text-2xl font-bold">Parts total:</h2>
      <p>PLN {{ parts_total|round(2) }}</p>
      {% set total_cost = total_cost + parts_total %}
      {% endif %}

      <h2 class="text-2xl font-bold">Total cost:</h2>
      <p>PLN {{ total_cost|round(2) }}</p>
    </div>

  </div>

</div>
{% endblock %}
